.mainspace-box {
  flex: 1 auto auto;
  font-family: "Poppins", sans-serif;
}
.login-container{
  width: 100vw;
  height: 100vh;
  background-image: url('../assets/night.jpg');
  background-size: cover;
}
.container-1{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(67.15deg, #263238 9.91%, rgba(38, 50, 56, 0) 134.9%);;
}
.container-2{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(67.15deg, #000000 9.91%, rgba(1, 1, 1, 0) 134.9%);
}
.color-green{
  color: var(--special-green);
}
.logo{
  width: 2rem;
  height: 2rem;
}
.logo-name{
  font-size: 1.5rem;
}
.dot{
  width: 0.5rem;
  height: 0.5rem;
}
.color-Lblue{
  color: var(--text-Lblue);
}
.text-to-register{
  font-size: 1rem;
}
.text-decoration-none{
  text-decoration: none;
}
.w-35{
  width: 35%;
}
.form-icon{
  width: 2rem;
  height: 2rem;
  color: var(--text-Lblue);
}
.form-element{
  background-color: transparent;
  border: 0px;
  outline: none;
  color: white;
}
.form-icon-small{
  width: 1.5rem;
  height: 1.5rem;
  color: var(--text-Lblue);
}

.glass{
  background: rgba( 121, 139, 147, 0.2 );
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.selected{
  border: 2px solid var(--special-green);
  filter:drop-shadow(0px 0px 0.6rem var(--special-green));
}
.form-label{
  font-size: 0.8rem;
}
.button-style{
  color: white;
  font-weight: bold;
  background-color: #19a884;
  font-size: 1rem;
  padding: 0.5em 1.5em;
  border: 0px;
  outline: none;
  border-radius: 0.6em;
}
.heading{
  font-size: 1.5rem;
}
.form-width{
  width: 100%;
}
@media screen and (min-width:768px) {
  .heading{
    font-size: 2rem;
  }
  .form-width{
    width: 75%;
  }
}