.sidebar-element {
  list-style-type: none;
  background-color: var(--light-blue);
}
.sidebar-element:hover {
  background-color: var(--dark-blue);
}
.color-handle {
  color: var(--text-Lblue);
}
.color-handle:hover {
  color: white;
}
.style-none {
  text-decoration: none;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
}
.mini-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1.5em;
}
.mini-icon-inbox{
  width: 1.25rem;
  height: 1.25rem;
}
.bar-width {
  width: 16rem;
  /* styles on expand */
}
.profile-image {
  border-radius: 50%;
  width: 60%;
  max-width: 80px;
  align-self: center;
}
.profile-box {
  align-self: center;
  text-align: center;
}
.display-name-box {
  margin-left: 1rem;
  margin-right: 3rem;
}
.apply-border {
  border-left: 4px solid var(--special-green);
  background-color: var(--dark-blue) !important;
}
.side-bar-box {
  position: relative;
  max-width: 300px;
  height: 100vh;
}
.arrow-icon {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--special-green);
  position: absolute;
  right: -0.7rem;
  border-radius: 50%;
  top: 2.5rem;
  background-color: white;
  transform: rotate(0deg);
  cursor: pointer;
}
.t-180 {
  transform: rotate(180deg);
}
.search-bar {
  border: 0px;
  outline: none;
}
.menu-icon {
  border-radius: 4px;
  background-color: var(--special-green);
  color: white;
  width: 2rem;
  height: 2rem;
}
.bell-icon {
  color: var(--grey);
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.bg-special-green {
  background-color: var(--special-green);
}
.bg-special-red {
  background-color: var(--special-red);
}
.bg-special-blue {
  background-color: var(--special-blue);
}
.bg-special-yellow {
  background-color: var(--special-yellow);
}

.color-special-green {
  color: var(--special-green);
}
.color-special-red {
  color: var(--special-red);
}
.color-special-blue {
  color: var(--special-blue);
}
.color-special-yellow {
  color: var(--special-yellow);
}
.Work{
  background-color: var(--special-green);
}
.Clients{
  background-color: var(--special-red);
}
.Social{
  background-color: var(--special-blue);
}
.Advertising{
  background-color: var(--special-yellow);
}
.notification-number {
  top: -60%;
  right: -50%;
  height: 80%;
  width: 80%;
  padding: 0.1em;
  border-radius: 10%;
  font-size: 0.8rem;
}
.logout-icon {
  color: var(--grey);
  width: 1.3rem;
  height: 1.3rem;
}
.logout-btn {
  color: var(--grey);
  font-size: 1rem;
  padding: 1em;
  outline: none;
  background: transparent;
  border: 0px;
}
.compose-mail-btn {
  background-color: var(--special-green);
  color: white;
  font-size: 1rem;
  padding: 0.5em;
  align-self: stretch;
  border: 0px;
  outline: none;
}
.un-ordered-list{
  list-style-type: none;
  padding: 0px;
}
.pointer{
  cursor: pointer;
}

.bg-near-white{
  background-color: var(--bg-near-white);
}

@media screen and (min-width:768px) {
  .email-form-div{
    right: 5rem;
  }
}

.search-bar-bottom{
  border-bottom: 1px solid var(--text-Lblue);
  height: 8vh;
}
.inbox-heading{
  font-size: 1.8rem;
  color: var(--light-blue);
}
.inbox-btn{
  color: var(--light-blue);
  font-size: 0.8rem;
  padding: 0.5em;
  background-color: transparent;
  border: 2px solid var(--text-Lblue);
  border-radius: 0.3em;
  margin-right: 0.5em;
}
.color-inherit{
  color: inherit;
}
.class-read{
  background-color: #f2f5f5cc;
  color: #7d878c;
}
.class-unread{
  background-color: #ffffffe6;
  color: var(--light-blue);
  font-weight: bold;
}
.category-text{
  font-size: 0.7rem;
  padding: 0.1em 0.5em;
}
.inbox-container{
  height: 92vh;
  overflow-y: scroll;
}
.small-font-date{
  font-size: 0.8rem;
}
.to-input{
  outline: none;
  border: 0px;
  background-color: transparent;
  color: var(--light-blue);
}
.resize-none{
  resize: none;
}
.height-60 {
  height: 60%;
}
.height-50 {
  height: 50%;
}
.email-form-div{
  overflow: hidden;
}