.sidebar-element {
  list-style-type: none;
  background-color: var(--light-blue);
}
.sidebar-element:hover {
  background-color: var(--dark-blue);
}
.color-handle {
  color: var(--text-Lblue);
}
.color-handle:hover {
  color: white;
}
.style-none {
  text-decoration: none;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
}
.bar-width {
  width: 16rem;
  /* styles on expand */
}
.profile-image {
  border-radius: 50%;
  width: 60%;
  max-width: 80px;
  align-self: center;
}
.profile-box {
  align-self: center;
  text-align: center;
}
.display-name-box {
  margin-left: 1rem;
  margin-right: 3rem;
}
.apply-border {
  border-left: 4px solid var(--special-green);
  background-color: var(--dark-blue) !important;
}
.side-bar-box {
  position: relative;
  max-width: 300px;
}
.arrow-icon {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--special-green);
  position: absolute;
  right: -0.7rem;
  border-radius: 50%;
  top: 2.5rem;
  background-color: white;
  transform: rotate(0deg);
  cursor: pointer;
}
.t-180 {
  transform: rotate(180deg);
}
.search-bar {
  border: 0px;
  outline: none;
}
.menu-icon {
  border-radius: 4px;
  background-color: var(--special-green);
  color: white;
  width: 2rem;
  height: 2rem;
}
.bell-icon {
  color: var(--grey);
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
}
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
.bg-special-green {
  background-color: var(--special-green);
}
.notification-number {
  top: -60%;
  right: -50%;
  height: 80%;
  width: 80%;
  padding: 0.1em;
  border-radius: 10%;
  font-size: 0.8rem;
}
.logout-icon {
  color: var(--grey);
  width: 1.3rem;
  height: 1.3rem;
}
.logout-btn {
  color: var(--grey);
  font-size: 1rem;
  padding: 1em;
  outline: none;
  background: transparent;
  border: 0px;
}
