@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,600&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
:root {
  --dark-blue: #263238;
  --light-blue: #455a64;
  --text-Lblue: #b0bec5;
  --special-green: #00d09c;
  --special-red: #eb6942;
  --special-blue: #2162f0;
  --special-yellow: #eec337;
  --grey: #667781;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}
.h-100vh {
  height: 100vh;
}
.w-100vw {
  width: 100vw;
}
.bg-dark-blue {
  background-color: var(--dark-blue);
}
.bg-light-blue {
  background-color: var(--light-blue);
}
.text-Lblue {
  color: var(--text-Lblue);
}
.debug {
  border: 1px solid black;
}
